@page
@model Pristinerealty.Web.Pages.GalleryModel
@{ ViewData["Title"] = "Gallery page"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/ImgModalStyle.css" rel="stylesheet" />

    @*<link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">*@
   @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@


    <title>Gallery</title>
</head>
<body>



    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-1g-12">
                    <div class="elementor-divider">
                        <span class="elementor-divider-separator">
                            <img src="img/line.png" width="80">   OUR SERVICES
                        </span>
                    </div>

                    <h2>
                        Pristine Realty<br> The Highest Quality
                    </h2>
                    <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>

                    <p>A creative decoration works company based in Dubai, UAE, offering bespoke, luxurious interiors, and exquisite furnishings that are timeless in quality including private houses, and prestigious hotels, with all their internal and external furnishings.</p>



                </div>



            </div>

        </div>
    </section>



    <section>
        <div class="container pb-5">
            <div class="row">

                @if (Model.gallery != null)
                {
                    foreach (var item in Model.gallery)
                    {
            <div class="col-lg-4 pt-3 pb-3">
                <!---->
                @*<figure>
            <a href="#"><button class="btn" style="color: #fff;">More details</button></a>
            <h5>@item.Title</h5>
        </figure>*@
                <img src="@item.Path" asp-append-version="true" width="100%" class="gallery-image" id="@(item.Id)" onclick="return ImageViewer('@item.Id');" alt="@item.Title">

            </div>

                    }
                }

            </div>
            <p class="pt-3">A creative decoration works company based in Dubai, UAE, offering bespoke, luxurious interiors, and exquisite furnishings that are timeless in quality including private houses, and prestigious hotels, with all their internal and external furnishings.</p>

        </div>
    </section>

        </div>
        <div id="myModal" class="modal">


            <img class="modal-content" id="modalimg" />

            <div id="caption">

            </div>

            <span class="close">&times;</span>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        var modal = document.getElementById("myModal");

        var modalImg = document.getElementById("modalimg");
        var captionText = document.getElementById("caption");

        function ImageViewer(id) {
            modal.style.display = "block";
            var img = document.getElementById(id);
            modalImg.src = img.src;
            captionText.innerHTML = img.alt;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>


</body>
</html>
