@page
@model Pristinerealty.Web.Areas.Admin.Pages.ContactsModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Style.css" rel="stylesheet" />


    <title>List</title>
</head>
<body>
    <script>
        function myFunction(x) {
            $("#item_view").modal();
        }
        $(document).ready(function () {
            $("#success-alert").hide();
            $("#success-alert")
                .fadeTo(2000, 500)
                .slideUp(500, function () {
                    $("#success-alert").slideUp(500);
                });
        });
    </script>

    <div class="container pt-5">
        <div class="mail-box">
            <aside class="lg-side">
             
             
                <div class="inbox-body" style="margin-top: 20px;">
                    <div class="mail-option">
                        <table class="table table-inbox table-hover">
                            <thead>
                                <tr class="unread">
                                    <th class="view-message col-sm-3">First Name</th>
                                    <th class="view-message col-sm-3">Last Name</th>
                                    <th class="view-message  col-sm-3">Email ID</th>
                                    <th class="view-message  col-sm-3">Mobile</th>
                                    <th class="view-message  col-sm-3">Message</th>
                                    <th class="view-message  col-sm-3">Sent on</th>
                                    @*<th class="col-sm-1">Operation</th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.msgs)
                                {
                                <tr>
                                    <td onclick="myFunction(this)" class="view-message"><p id="setter">@item.FirstName</p></td>
                                    <td onclick="myFunction(this)" class="view-message"><p id="setter">@item.LastName</p></td>
                                    <td onclick="myFunction(this)" class="view-message"><p id="setter">@item.Email</p></td>
                                    <td onclick="myFunction(this)" class="view-message"><p id="setter">@item.Number</p></td>
                                    <td onclick="myFunction(this)" class="view-message"><p id="setter">@item.Message</p></td>
                                    <td onclick="myFunction(this)" class="view-message"><p id="setter">@item.CreatedOn</p></td>


                                    @*<td>
            <form method="post">
                <span class="btn-group pull-right" style="margin-top: 5px;">
                    <a class="btn  btn-xs btn-success" asp-page="/Edit" asp-route-id="@item.Id">
                        <i class="glyphicon glyphicon-edit">Edit</i>
                    </a>&nbsp; &nbsp;

                    <button type="submit" class="btn btn-s btn-xs btn-danger" asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure to delete this Article?');">
                        <i class="glyphicon glyphicon-remove"></i>
                        Delete
                    </button>
                </span>
            </form>
        </td>*@
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>
        </div>
    </div>



</body>
</html>

