@page
@model Pristinerealty.Web.Areas.Admin.Pages.ViewModel
@{
}
<div class="row">
    <div class="col-lg-12">
        <form method="post" class="form" enctype="multipart/form-data">
            <div class="row">
            
                <div class="col-lg-4">
                    <label>Name : </label>

                </div>
                <div class="col-lg-8">
                    <label>@Model.userpost.Name </label>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>Phone :</label>

                </div>
                <div class="col-lg-8">
                    <label>@Model.userpost.Number </label>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>Email :</label>

                </div>
                <div class="col-lg-8">
                    <label>@Model.userpost.Email</label>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>Address :</label>

                </div>
                <div class="col-lg-8">
                    <label>@Model.userpost.Address </label>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>Message :</label>

                </div>
                <div class="col-lg-8">
                    <label>@Model.userpost.Message </label>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>Status :</label>

                </div>
                <div class="col-lg-8">
                    @if (Model.userpost.ReadStatus == true)
                    {
                        <label>Marked as read</label>
                    }
                    else
                    {
                        <label>Marked as Unread</label>
                        @*<form method="post">
             <button type="submit" class="btn btn-danger" asp-page-handler="MarkRead" asp-route-id="@Model.userpost.UserId" onclick="return confirm('Are you sure to mark the message as read?');">Update Status</button>
            </form>*@
                    }



                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label>Comments : </label>
                </div>
                <div class="col-lg-8">
                  
                        <input class="form-control" name="comments" id="comments" multiple="multiple" value="@Model.userpost.Comments" asp-for="@Model.userpost.Comments" />
                    
                    </div>
            </div>
        
           

            <div class="row">
                <div class=" col-10"> </div>
                <br /><br />   <br /><br />   <br /><br />
                <div class="col-2">
                    <div class="form-group">
                        <div class="button">
                            <button type="submit" class="btn btn-primary" asp-page-handler="Edit" asp-route-id="@Model.userpost.UserId">Update Comment</button>
                        </div>
                    </div>
                </div>
            </div>
</form>
    </div>
</div>